.header {
    font-weight: 900;
}

.textCard {
    width: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.textCardText {
    width: 20rem;
}

.imageBox {
    border: 1px solid black;
    width: 20rem;
    height: 20rem;
}