#reservationForm {
    margin-top: 20px;
    display: flex;
    justify-content: center;  

  }
  
  #formContainer {
    width: 20rem;
    text-align: left;
  }
  
  .textInput {
    
  }
  
  #orderForm {
    display: flex;
    flex-direction: column;
  }
  
  .agreeWithRulesLabel {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  .agreeWithRulesLabel a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
    cursor: pointer;
  }
  
  .agreeWithRulesLabel a:hover {
    color: darkblue;
  }
  
  #agreeWithRules {
    margin-right: 5px;
    cursor: pointer;
  }
  
  button[type="submit"] {
    align-self:center;
    width: 8rem;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .flexRow {
    display: flex;
    flex-direction: row;
  }