#rules {
    background-image: url("../../../images/bgForReservationForm.jpg");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#rulesContainer {
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}
p, h3 {
    text-align: left;
}

p {
    margin: 0;
}