#formInput {
    margin-bottom: 15px;
  }
  
  #formInput label {
    font-weight: bold;
  }
  
  #formInput input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
